src/main/webapp/META-INF/wsdl/SystemServicesITMS.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://maestro.thalesgroup.com/wsdl/system"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http"
	xmlns:ns1="http://maestro.thalesgroup.com/wsdl/system/xsd" name="SystemPortTypeService"
	targetNamespace="http://maestro.thalesgroup.com/wsdl/system">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="http://maestro.thalesgroup.com/wsdl/system/xsd"
			version="1.0">

			<xs:element name="Active">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="creatorId" type="xs:string"></xs:element>
						<xs:element name="sessionInstanceId" type="xs:string"></xs:element>
						<xs:element name="timeStamp" type="xs:dateTime"></xs:element>
						<xs:element maxOccurs="unbounded" name="applications"
							type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Alive">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="creatorId" type="xs:string"></xs:element>
						<xs:element name="sessionInstanceId" type="xs:string"></xs:element>
						<xs:element name="timeStamp" type="xs:dateTime"></xs:element>
						<xs:element name="connectionStatus" type="xs:int"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Connection">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="creatorId" type="xs:string"></xs:element>
						<xs:element name="timeStamp" type="xs:dateTime"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Disconnection">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="creatorId" type="xs:string"></xs:element>
						<xs:element name="sessionInstanceId" type="xs:string"></xs:element>
						<xs:element name="timeStamp" type="xs:dateTime"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="SessionDetail">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="creatorId" type="xs:string"></xs:element>
						<xs:element name="sessionInstanceId" type="xs:string"></xs:element>
						<xs:element name="timeStamp" type="xs:dateTime"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="active">
		<wsdl:part element="ns1:Active" name="detail">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="connection">
		<wsdl:part element="ns1:Connection" name="detail">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sessionDetail">
		<wsdl:part element="ns1:SessionDetail" name="detail">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="alive">
		<wsdl:part element="ns1:Alive" name="detail">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="disconnection">
		<wsdl:part element="ns1:Disconnection" name="detail">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SystemPortType">
		<wsdl:operation name="alive">
			<wsdl:input message="tns:alive" name="alive">
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="disconnection">
			<wsdl:input message="tns:disconnection" name="disconnection">
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="active">
			<wsdl:input message="tns:active" name="active">
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="connection">
			<wsdl:input message="tns:connection" name="connection">
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="sessionDetail">
			<wsdl:input message="tns:sessionDetail" name="sessionDetail">
			</wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SystemPortTypeServiceSoapBinding"
		type="tns:SystemPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
		<wsdl:operation name="alive">
			<soap:operation soapAction="alive" style="document"></soap:operation>
			<wsdl:input name="alive">
				<soap:body use="literal"></soap:body>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="disconnection">
			<soap:operation soapAction="disconnection" style="document"></soap:operation>
			<wsdl:input name="disconnection">
				<soap:body use="literal"></soap:body>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="active">
			<soap:operation soapAction="active" style="document"></soap:operation>
			<wsdl:input name="active">
				<soap:body use="literal"></soap:body>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="connection">
			<soap:operation soapAction="connection" style="document"></soap:operation>
			<wsdl:input name="connection">
				<soap:body use="literal"></soap:body>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="sessionDetail">
			<soap:operation soapAction="sessionDetail" style="document"></soap:operation>
			<wsdl:input name="sessionDetail">
				<soap:body use="literal"></soap:body>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SystemPortTypeService">
		<wsdl:port binding="tns:SystemPortTypeServiceSoapBinding"
			name="SystemPortTypePort">
			<soap:address
				location="http://10.32.0.1:8080/SAM/services/Maestro/SystemServices"></soap:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>