src/main/webapp/META-INF/wsdl/SystemServicesAPIS.wsdl

<definitions name='SystemServices'
	targetNamespace='http://maestro.thalesgroup.com/wsdl/system' xmlns='http://schemas.xmlsoap.org/wsdl/'
	xmlns:ns1='http://maestro.thalesgroup.com/wsdl/system/xsd' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
	xmlns:tns='http://maestro.thalesgroup.com/wsdl/system' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
	<types>
		<xs:schema elementFormDefault='qualified'
			targetNamespace='http://maestro.thalesgroup.com/wsdl/system/xsd'
			version='1.0' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
			<xs:element name='Active'>
				<xs:complexType>
					<xs:sequence>
						<xs:element name='creatorId' type='xs:string' />
						<xs:element name='sessionInstanceId' type='xs:string' />
						<xs:element name='timeStamp' type='xs:dateTime' />
						<xs:element maxOccurs='unbounded' name='applications'
							type='xs:string' />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name='Alive'>
				<xs:complexType>
					<xs:sequence>
						<xs:element name='creatorId' type='xs:string' />
						<xs:element name='sessionInstanceId' type='xs:string' />
						<xs:element name='timeStamp' type='xs:dateTime' />
						<xs:element name='connectionStatus' type='xs:int' />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name='Connection'>
				<xs:complexType>
					<xs:sequence>
						<xs:element name='creatorId' type='xs:string' />
						<xs:element name='timeStamp' type='xs:dateTime' />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name='Disconnection'>
				<xs:complexType>
					<xs:sequence>
						<xs:element name='creatorId' type='xs:string' />
						<xs:element name='sessionInstanceId' type='xs:string' />
						<xs:element name='timeStamp' type='xs:dateTime' />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name='SessionDetail'>
				<xs:complexType>
					<xs:sequence>
						<xs:element name='creatorId' type='xs:string' />
						<xs:element name='sessionInstanceId' type='xs:string' />
						<xs:element name='timeStamp' type='xs:dateTime' />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name='SystemPortType_alive'>
		<part element='ns1:Alive' name='detail'></part>
	</message>
	<message name='SystemPortType_active'>
		<part element='ns1:Active' name='detail'></part>
	</message>
	<message name='SystemPortType_disconnection'>
		<part element='ns1:Disconnection' name='detail'></part>
	</message>
	<message name='SystemPortType_connection'>
		<part element='ns1:Connection' name='detail'></part>
	</message>
	<message name='SystemPortType_sessionDetail'>
		<part element='ns1:SessionDetail' name='detail'></part>
	</message>
	<portType name='SystemPortType'>
		<operation name='active'>
			<input message='tns:SystemPortType_active'></input>
		</operation>
		<operation name='alive'>
			<input message='tns:SystemPortType_alive'></input>
		</operation>
		<operation name='connection'>
			<input message='tns:SystemPortType_connection'></input>
		</operation>
		<operation name='disconnection'>
			<input message='tns:SystemPortType_disconnection'></input>
		</operation>
		<operation name='sessionDetail'>
			<input message='tns:SystemPortType_sessionDetail'></input>
		</operation>
	</portType>
	<binding name='SystemPortTypeBinding' type='tns:SystemPortType'>
		<soap:binding style='document'
			transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='active'>
			<soap:operation soapAction='active' />
			<input>
				<soap:body use='literal' />
			</input>
		</operation>
		<operation name='alive'>
			<soap:operation soapAction='alive' />
			<input>
				<soap:body use='literal' />
			</input>
		</operation>
		<operation name='connection'>
			<soap:operation soapAction='connection' />
			<input>
				<soap:body use='literal' />
			</input>
		</operation>
		<operation name='disconnection'>
			<soap:operation soapAction='disconnection' />
			<input>
				<soap:body use='literal' />
			</input>
		</operation>
		<operation name='sessionDetail'>
			<soap:operation soapAction='sessionDetail' />
			<input>
				<soap:body use='literal' />
			</input>
		</operation>
	</binding>
	<service name='SystemServices'>
		<port binding='tns:SystemPortTypeBinding' name='SystemPort'>
			<soap:address location='http://10.4.0.1:8080/MAESTRO/SystemServices' />
		</port>
	</service>
</definitions>